USE [master]
GO
/****** Nesnesi: Database [StokOtomasyonDB] Betik Tarihi: 21.05.2026 10:41:43 ******/
CREATE DATABASE [StokOtomasyonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StokOtomasyonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StokOtomasyonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StokOtomasyonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StokOtomasyonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StokOtomasyonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StokOtomasyonDB]
GO
/****** Nesnesi: Table [dbo].[Depolar] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depolar](
	[DepoID] [int] IDENTITY(1,1) NOT NULL,
	[DepoAdi] [varchar](100) NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[IslemLoglari] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[IslemTipi] [nvarchar](50) NULL,
	[TabloAdi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[IslemTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kullanicilar] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NOT NULL,
	[Sifre] [varchar](50) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[AktifMi] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
	[SonGirisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[MalKabulleri] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MalKabulleri](
	[KabulID] [int] IDENTITY(1,1) NOT NULL,
	[TeklifID] [int] NOT NULL,
	[KabulMiktari] [int] NOT NULL,
	[KabulTarihi] [datetime] NULL,
	[KullaniciID] [int] NULL,
	[FaturaIslendiMi] [bit] NULL,
	[Notlar] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[KabulID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SatinAlmaTalepleri] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatinAlmaTalepleri](
	[TalepID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[Durum] [varchar](30) NOT NULL,
	[Tarih] [datetime] NULL,
	[KullaniciID] [int] NULL,
	[TalepTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TalepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[StokHareketleri] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[UrunID] [int] NULL,
	[HareketTipi] [varchar](20) NOT NULL,
	[KaynakDepoID] [int] NULL,
	[HedefDepoID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[Gerekce] [varchar](250) NOT NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Stoklar] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stoklar](
	[DepoID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepoID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tedarikciler] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[TedarikciID] [int] IDENTITY(1,1) NOT NULL,
	[TedarikciAdi] [varchar](100) NOT NULL,
	[Telefon] [varchar](20) NULL,
	[PerformansPuani] [int] NULL,
	[AktifMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[TedarikciTeklifleri] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TedarikciTeklifleri](
	[TeklifID] [int] IDENTITY(1,1) NOT NULL,
	[TalepID] [int] NULL,
	[TedarikciID] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[TeslimSuresiGun] [int] NOT NULL,
	[Durum] [varchar](20) NULL,
	[TeklifMiktari] [int] NOT NULL,
	[KabulMiktari] [int] NULL,
	[TedarikciAdi] [nvarchar](150) NULL,
	[Fiyat] [decimal](18, 2) NULL,
	[TeklifTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeklifID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Urunler] Betik Tarihi: 21.05.2026 10:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [varchar](100) NOT NULL,
	[KritikEsik] [int] NOT NULL,
	[Birim] [varchar](20) NULL,
	[MinEsik] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Depolar] ON 

INSERT [dbo].[Depolar] ([DepoID], [DepoAdi], [Sehir]) VALUES (1, N'Merkez Ambar', N'Adana')
INSERT [dbo].[Depolar] ([DepoID], [DepoAdi], [Sehir]) VALUES (2, N'Ege Dağıtım Deposu', N'İzmir')
INSERT [dbo].[Depolar] ([DepoID], [DepoAdi], [Sehir]) VALUES (3, N'Çamlık Market Depo', N'Mersin')
SET IDENTITY_INSERT [dbo].[Depolar] OFF
GO
SET IDENTITY_INSERT [dbo].[IslemLoglari] ON 

INSERT [dbo].[IslemLoglari] ([LogID], [KullaniciID], [IslemTipi], [TabloAdi], [Aciklama], [IslemTarihi]) VALUES (1, 1, N'Pasife Alma', N'Kullanicilar', N'ali adlı kullanıcının durumu admin tarafından değiştirildi.', CAST(N'2026-05-21T09:44:46.277' AS DateTime))
INSERT [dbo].[IslemLoglari] ([LogID], [KullaniciID], [IslemTipi], [TabloAdi], [Aciklama], [IslemTarihi]) VALUES (2, 1, N'Aktifleştirme', N'Kullanicilar', N'ali adlı kullanıcının durumu admin tarafından değiştirildi.', CAST(N'2026-05-21T09:44:53.030' AS DateTime))
INSERT [dbo].[IslemLoglari] ([LogID], [KullaniciID], [IslemTipi], [TabloAdi], [Aciklama], [IslemTarihi]) VALUES (3, 1, N'Ekleme', N'Depolar', N'Çamlık Market Depo adlı yeni depo sisteme eklendi.', CAST(N'2026-05-21T10:06:30.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[IslemLoglari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Rol], [AktifMi], [IsDeleted], [SonGirisTarihi]) VALUES (1, N'admin', N'1234', N'Admin', 1, 0, CAST(N'2026-05-21T10:36:31.693' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Rol], [AktifMi], [IsDeleted], [SonGirisTarihi]) VALUES (2, N'depocu12', N'123', N'Kullanici', 1, 0, CAST(N'2026-05-21T08:44:49.987' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Rol], [AktifMi], [IsDeleted], [SonGirisTarihi]) VALUES (4, N'ali', N'12345', N'Personel', 1, 0, CAST(N'2026-05-21T08:04:26.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[SatinAlmaTalepleri] ON 

INSERT [dbo].[SatinAlmaTalepleri] ([TalepID], [UrunID], [Miktar], [Durum], [Tarih], [KullaniciID], [TalepTarihi]) VALUES (3, 1, 9, N'Bekliyor', CAST(N'2026-05-21T06:52:13.597' AS DateTime), NULL, NULL)
INSERT [dbo].[SatinAlmaTalepleri] ([TalepID], [UrunID], [Miktar], [Durum], [Tarih], [KullaniciID], [TalepTarihi]) VALUES (4, 2, 7, N'Bekliyor', CAST(N'2026-05-21T07:03:28.657' AS DateTime), NULL, NULL)
INSERT [dbo].[SatinAlmaTalepleri] ([TalepID], [UrunID], [Miktar], [Durum], [Tarih], [KullaniciID], [TalepTarihi]) VALUES (5, 3, 10, N'Bekliyor', CAST(N'2026-05-21T07:09:57.693' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SatinAlmaTalepleri] OFF
GO
SET IDENTITY_INSERT [dbo].[StokHareketleri] ON 

INSERT [dbo].[StokHareketleri] ([HareketID], [KullaniciID], [UrunID], [HareketTipi], [KaynakDepoID], [HedefDepoID], [Miktar], [Gerekce], [Tarih]) VALUES (1, 1, 1, N'Transfer', 2, 1, 2, N'Transfer', CAST(N'2026-05-20T23:21:30.503' AS DateTime))
INSERT [dbo].[StokHareketleri] ([HareketID], [KullaniciID], [UrunID], [HareketTipi], [KaynakDepoID], [HedefDepoID], [Miktar], [Gerekce], [Tarih]) VALUES (2, 1, 2, N'Giris', 1, NULL, 9, N'Manuel Onaylı Satın Alma (Kritik Eşik)', CAST(N'2026-05-21T00:18:16.303' AS DateTime))
INSERT [dbo].[StokHareketleri] ([HareketID], [KullaniciID], [UrunID], [HareketTipi], [KaynakDepoID], [HedefDepoID], [Miktar], [Gerekce], [Tarih]) VALUES (3, 1, 1, N'Cikis', 1, NULL, 2, N'imha', CAST(N'2026-05-21T00:18:48.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[StokHareketleri] OFF
GO
INSERT [dbo].[Stoklar] ([DepoID], [UrunID], [Miktar]) VALUES (1, 1, 12)
INSERT [dbo].[Stoklar] ([DepoID], [UrunID], [Miktar]) VALUES (1, 2, 0)
INSERT [dbo].[Stoklar] ([DepoID], [UrunID], [Miktar]) VALUES (1, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Tedarikciler] ON 

INSERT [dbo].[Tedarikciler] ([TedarikciID], [TedarikciAdi], [Telefon], [PerformansPuani], [AktifMi]) VALUES (1, N'Beta Metal A.Ş.', N'05551112233', 100, 1)
INSERT [dbo].[Tedarikciler] ([TedarikciID], [TedarikciAdi], [Telefon], [PerformansPuani], [AktifMi]) VALUES (2, N'Yıldız Kablo Sanayi', N'05552223344', 100, 1)
INSERT [dbo].[Tedarikciler] ([TedarikciID], [TedarikciAdi], [Telefon], [PerformansPuani], [AktifMi]) VALUES (3, N'Özdemir Lojistik Tedarik', N'05553334455', 100, 1)
SET IDENTITY_INSERT [dbo].[Tedarikciler] OFF
GO
SET IDENTITY_INSERT [dbo].[TedarikciTeklifleri] ON 

INSERT [dbo].[TedarikciTeklifleri] ([TeklifID], [TalepID], [TedarikciID], [BirimFiyat], [TeslimSuresiGun], [Durum], [TeklifMiktari], [KabulMiktari], [TedarikciAdi], [Fiyat], [TeklifTarihi]) VALUES (7, 3, NULL, CAST(200.00 AS Decimal(18, 2)), 1, N'Beklemede', 0, NULL, N'Çamlık Market', CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-05-21T07:35:03.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[TedarikciTeklifleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KritikEsik], [Birim], [MinEsik]) VALUES (1, N'Rulman No:45', 15, N'Adet', 20)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KritikEsik], [Birim], [MinEsik]) VALUES (2, N'Çelik Profil 2m', 5, N'Adet', 20)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KritikEsik], [Birim], [MinEsik]) VALUES (3, N'Bakır Kablo 100m', 0, N'Adet', 20)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Kullanic__5BAE6A75B30355AC] Betik Tarihi: 21.05.2026 10:41:44 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IslemLoglari] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MalKabulleri] ADD  DEFAULT (getdate()) FOR [KabulTarihi]
GO
ALTER TABLE [dbo].[MalKabulleri] ADD  DEFAULT ((0)) FOR [FaturaIslendiMi]
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri] ADD  DEFAULT ('Teklif Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri] ADD  DEFAULT (getdate()) FOR [TalepTarihi]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Stoklar] ADD  DEFAULT ((0)) FOR [Miktar]
GO
ALTER TABLE [dbo].[Tedarikciler] ADD  DEFAULT ((100)) FOR [PerformansPuani]
GO
ALTER TABLE [dbo].[Tedarikciler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[TedarikciTeklifleri] ADD  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[TedarikciTeklifleri] ADD  DEFAULT ((0)) FOR [TeklifMiktari]
GO
ALTER TABLE [dbo].[TedarikciTeklifleri] ADD  DEFAULT (getdate()) FOR [TeklifTarihi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((10)) FOR [KritikEsik]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ('Adet') FOR [Birim]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [MinEsik]
GO
ALTER TABLE [dbo].[MalKabulleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[MalKabulleri]  WITH CHECK ADD FOREIGN KEY([TeklifID])
REFERENCES [dbo].[TedarikciTeklifleri] ([TeklifID])
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([HedefDepoID])
REFERENCES [dbo].[Depolar] ([DepoID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([KaynakDepoID])
REFERENCES [dbo].[Depolar] ([DepoID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Stoklar]  WITH CHECK ADD FOREIGN KEY([DepoID])
REFERENCES [dbo].[Depolar] ([DepoID])
GO
ALTER TABLE [dbo].[Stoklar]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[TedarikciTeklifleri]  WITH CHECK ADD FOREIGN KEY([TalepID])
REFERENCES [dbo].[SatinAlmaTalepleri] ([TalepID])
GO
ALTER TABLE [dbo].[TedarikciTeklifleri]  WITH CHECK ADD FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikciler] ([TedarikciID])
GO
ALTER TABLE [dbo].[SatinAlmaTalepleri]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD CHECK  (([HareketTipi]='Transfer' OR [HareketTipi]='Cikis' OR [HareketTipi]='Giris'))
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[Stoklar]  WITH CHECK ADD CHECK  (([Miktar]>=(0)))
GO
ALTER TABLE [dbo].[TedarikciTeklifleri]  WITH CHECK ADD CHECK  (([BirimFiyat]>(0)))
GO
ALTER TABLE [dbo].[TedarikciTeklifleri]  WITH CHECK ADD CHECK  (([Durum]='Kismen Kabul' OR [Durum]='Reddedildi' OR [Durum]='Onaylandi' OR [Durum]='Beklemede'))
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_KritikEsik_NonNegative] CHECK  (([KritikEsik]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_KritikEsik_NonNegative]
GO
USE [master]
GO
